@using MyBooks.Models;
@{
    ViewBag.Title = "Home Page";
}

<h2>Books</h2>
<style type="text/css">
    TABLE {
        border-collapse: collapse;
        width: 300px;
    }

    TH, TD {
        border: 1px solid black;
        text-align: center;
        padding: 4px;
    }

    TH {
        height: 40px;
        vertical-align: bottom;
        padding: 0;
    }
</style>


<table>
    <tr>
        <td><p>ID</p></td>
        <td><p>NAME</p></td>
        <td><p>AUTHOR NAME</p></td>
        <td><p>AUTHOR SURNAME</p></td>
        <td><p>YEAR</p></td>
        <td><p>GENRE</p></td>
    </tr>
    @foreach (Book i in ViewBag.Books)
    {
        <tr>
            <td><p>@i.BookId </p></td>
            <td><p>@i.Name</p></td>
            <td><p>@i.AuthorName</p></td>
            <td><p>@i.AuthorSurname</p></td>
            <td><p>@i.YearOfPublish</p></td>
            <td><p>@i.Genre.Name</p></td>
        </tr>
    }

</table>

    